footer.footer-section {
    background: rgba(0, 0, 0, 0) url("https://images.pexels.com/photos/316902/pexels-photo-316902.jpeg?w=940&h=650&auto=compress&cs=tinysrgb") no-repeat scroll left top / cover;
    padding: 60px 0 50px;

    margin-top:50px;
}

.bg-with-black {
    position: relative;
}

.footer-top-section {
    margin: 0 0 47px;
}

.single-fta > img {
    margin: 0 0 7px;
}

.single-fta ul.fta-list {
    list-style: outside none none;
    padding-left: 0;
}

    .single-fta ul.fta-list li, .single-fta ul.fta-list li a {
        color: #e5e5e5;
        display: block;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 36px;
    }

.single-fta ul.fta-list {
    list-style: outside none none;
    padding-left: 0;
}

.fta-title {
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0;
    margin: 0 0 20px;
}

.fba-links {
    text-align: right;
}

    .fba-links ul li a {
        color: #e5e5e5;
        display: block;
        font-size: 14px;
        letter-spacing: 0;
    }

    .fba-links ul {
        list-style: outside none none;
        padding: 0;
    }

        .fba-links ul li {
            display: inline-block;
            margin-left: 28px;
        }

.fba-copyright p {
    color: #aaaaaa;
    line-height: 30px;
}
